div(class="container-fluid")
    //- TODO: JQuery ajax
    hr/
    h5="comments"
    ul(class="list-group")
        if comments.length > 0 
            each comment in comments
                li(class="list-group-item")
                    p="author: "+(comment.comments.userid.length != 1 ? "[deleted]" : comment.comments.userid[0].username)
                    p="date: "+new Date(comment.comments.date).toLocaleDateString()
                    div!=comment.comments.text
        else
            li(class="list-group-item")
                p="There are no comments."
        li(class="list-group-item")
            if isLoggedIn
                form(class="form-horizontal" method='POST' action='/post/'+post._id)
                    div(class="form-group")
                        label(class="col-sm-2 control-label")="Comment"
                        textarea(class="form-control" name='text' rows="3" id="textarea" required)
                    div(class="form-group")
                        div(class="col-sm-offset-2 col-sm-10")
                            button(type="submit" class="btn btn-default") Comment
                script
                    include js/wysiwyg/ClassicEditor.js
            else
                h5="please login"
                //- TODO: add more text