extends template.pug

block head
    script(src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js")

block content
    body(class="container-fluid")
        h1="Create"
        form(class="fomr-horizontal" method='POST' action='/create' onsubmit="this.buttonSend.disabled=true")
            div(class="form-group" id="title" required)
                label(class="col-sm-2 control-label")="title"
                input(class="form-control" name='title' required)
            div(class="form-group")
                label(class="col-sm-2 control-label")="Content"
                textarea(class="form-control" name='text' id="textarea" rows="6")
            div(class="form-group")
                <div class="col-sm-offset-2 col-sm-10">
                    button(type="submit" class="btn btn-default" name="buttonSend")="Create"
    script
        include js/wysiwyg/ClassicEditor.js