extends template.pug

block content
  body(class="container-fluid" style="min-height: 100%; height:100%;postition:absolute")
    div()
        if posts.length > 0
            table(class="table table-hover table-striped")
                tr
                    th="Author"
                    th="Post title"
                    th="Date"
                    th="Replies"
                tbody
                    each post in posts
                        tr
                            if post.userid.length > 0
                                th(scope="row"): a(href="/profile/"+post.userid[0]._id)=post.userid[0].username
                            else
                                th(scope="row")="[deleted]"
                            td: a(href="/post/"+post._id)=post.title
                            td: a=new Date(post.date).toLocaleString()
                            td: a=post.comments[0].comments.length

        else
            ul(class="container-fluid")
                li: p="No Posts available"
    ul(class="pagination justify-content-center")
        li(class=((currentpage-1) <0 ? "page-item disabled" : "page-item"))
            a(class="page-link" href= (currentpage-1) >0 ? "/page/"+(currentpage-1) : "/page/"+0)="Previous"
        if (currentpage-2) >-1
            li(class="page-item"): a(class="page-link" href="/page/"+(currentpage-2))=currentpage-2
        if (currentpage-2) >-2
            li(class="page-item"): a(class="page-link" href="/page/"+(currentpage-1))=currentpage-1
        li(class="page-item"): a(class="page-link" href=("/page/"+currentpage) activated)=currentpage
        li(class="page-item"): a(class="page-link" href="/page/"+(currentpage-(-1)))=currentpage-(-1)
        li(class="page-item"): a(class="page-link" href="/page/"+(currentpage-(-2)))=currentpage-(-2)
        li(class="page-item"): a(class="page-link" href="/page/"+(currentpage-(-1)))="Next"