extends template.pug

block content
	body(class="container-fluid")
		h1="login page"
		form(class="fomr-horizontal" method='POST' action='/login')
			div(class="form-group")
				label(class="col-sm-2 control-label")="username"
				input(name='username' required)
			div(class="form-group")
				label(class="col-sm-2 control-label")="password"
				input(name='password' type="password" required)
			div(class="form-group")
				div(class="col-sm-offset-2 col-sm-10")
					button(type="submit" class="btn btn-default") login