extends template.pug

block head
    script(src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js")
    script 
        include js/post-comments.js

block content
  body(class="container-fluid")
    #post(class="container-fluid")
        h5=post.title
        div!=post.text
        div(style="")
            p=post.userid.length != 1 ? "[deleted]" : post.userid[0].username 
            p=new Date(post.date).toLocaleString()
            p=post._id
    #comments(data-id=post._id)