extends template.pug

block content
	body(class="container-fluid")
		h1="registration page"
		form(class="fomr-horizontal" method='POST' action='/register')
			//- TODO: Form validation
			div(class="form-group")
				label(class="col-sm-2 control-label")="username"
				input(name='username' required)
			div(class="form-group")
				label(class="col-sm-2 control-label")="password"
				input(name='password' type="password" required)
			div(class="form-group")
				label(class="col-sm-2 control-label")="mail"
				input(name='mail' required)
			//- div(class="form-group")
			//- 	label(class="col-sm-2 control-label")="firstname"
			//- 	input(name='firstname')
			//- div(class="form-group")
			//- 	label(class="col-sm-2 control-label")="lastname"
			//- 	input(name='lastname')
			div(class="form-group")
				<div class="col-sm-offset-2 col-sm-10">
					button(type="submit" class="btn btn-default") register