<!DOCTYPE html>
html(style="font-family: 'Glyphicons Halflings';")
    head
        title Blog Test - #{title}
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
        script
            include js/script.js
        style
            include css/stylesheet.css
        block head
    body(class="container-fluid" style="min-height:100%; position:absolute")
        block header
            header
                nav(id="navi" class="navbar navbar-expand-lg navbar-light bg-light")
                    button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
                        span(class="navbar-toggler-icon")
                    a(class="navbar-brand" href="/")="Menu"
                    div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
                        div(class="navbar-nav")
                            a(class="nav-item nav-link active" href="/")="Home"
                            if !isLoggedIn
                                a(class="nav-item nav-link active" href="/login")="Login"
                                a(class="nav-item nav-link active" href="/register")="Register"
                            else
                                a(class="nav-item nav-link active" href="/create")="Create"
                                a(class="nav-item nav-link active" href="/profile")="Profile"
                                a(class="nav-item nav-link active" href="/logout")="Logout"
        main
            block content
        block footer
            footer(class="container-fluid fixed-bottom")
                div(class="container")
                    p="Some footer content"