body {
	padding-bottom: 60px; 
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
}

#navi {
	/*FIXME: no transition animation in moz-ff*/
	margin-bottom: 0.1em;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}